/* Влияние клана на стиль */
.post-card.clan-king { border-top: 4px solid gold; }
.post-card.clan-fire { border-top: 4px solid #ff4500; }

.clan-grid-reg { display: flex; justify-content: center; gap: 20px; margin: 15px 0; font-size: 30px; }
.clan-grid-reg span { cursor: pointer; transition: 0.2s; }
.clan-grid-reg span:hover { transform: scale(1.3); }
.selected-clan { border: 2px solid var(--accent-blue); border-radius: 10px; }

/* Голосовые комментарии (заглушка стиля) */
.voice-comment {
    background: #f1f1f1;
    border-radius: 20px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
}
.wave { width: 100px; height: 15px; background: url('https://i.sstatic.net/id9S0.png'); }
